.idea
*.iml
target
dependency-reduced-pom.xml
*.exe
*.jar
hutool/bin
.gradle
build
*.zip
.DS_Store
hutool/external.conf
src/main/java/org/code4everything/hutool/ignore
src/test/java/org/code4everything/hutool/ignore
